<?xml version="1.0" encoding="UTF-8"?>
<!--board_mapper 또는 member_mapper.xml : 쿼리문-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
1.parameterType에 1개의 Type만 올 수 있다.
2.parameterType에 bean인 경우 #{필드명}
3.resultType도 1개만 올 수 있는데 1개 이상의 레코드를 검색하는 경우도 bean타입만 명시하면 된다.
 -->
<mapper namespace="com.seeds.spotips.dao.BoardDao">

	<!-- id가 ImemberDao 클래스의 메소드이름과 일치해야함 -->
	<select id="getBoardList"   resultType="b"> 
	SELECT * FROM B
	</select>
	<!--  parameterType="Member" 다음부터는 이렇게 쓰면됨(mybatis-config.xml(mybatis 공통 환경설정)에 설정했으니) -->
	 <!-- sql문의 중괄호 안은 소문자로 써야함 멤버빈의 필드명이기 때문에 -->
	
	<!-- <select id="getSerial"      
	parameterType="String" resultType="Integer"> 
	SELECT MB_SERIAL FROM VIEW_MBLOGIN WHERE MB_ID=#{mb_id}   
	</select>  -->
	
</mapper>