<?xml version="1.0" encoding="UTF-8"?>
<!--board_mapper 또는 member_mapper.xml : 쿼리문-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 
1.parameterType에 1개의 Type만 올 수 있다.
2.parameterType에 bean인 경우 #{필드명}
3.resultType도 1개만 올 수 있는데 1개 이상의 레코드를 검색하는 경우도 bean타입만 명시하면 된다.
 -->
<mapper namespace="com.seeds.spotips.dao.BoardDao">

	<!-- id가 ImemberDao 클래스의 메소드이름과 일치해야함 -->
	<select id="getBoardList"  resultType="b"> 
	SELECT * FROM B ORDER BY B_DATE DESC
	</select>
	
	<insert id="postUpload" parameterType="b">
		<selectKey keyProperty="b_no" resultType="String" order="AFTER">
			SELECT 'B'||B_SEQ.CURRVAL FROM DUAL
		</selectKey>
		INSERT INTO B
		VALUES('B'||B_SEQ.NEXTVAL,#{b_mbid},#{b_flno},#{b_content},DEFAULT,DEFAULT,DEFAULT)
	</insert>
	
	
	<insert id="fileUpload" parameterType="HashMap">
		INSERT INTO BU VALUES(#{b_no},#{sysFileName},#{oriFileName},#{path})   
	</insert> 
	
	<select id="getBoardUploadList"  resultType="bu"> 
	SELECT * FROM BU
	</select>
	
</mapper>






