<?xml version="1.0" encoding="UTF-8"?>
<!--board_mapper 또는 member_mapper.xml : 쿼리문-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.seeds.spotips.dao.BoardDao">
	
	
	<!-- 게시물 전체 보기 -->
	<select id="getBoardList"  resultType="b"> 
	SELECT * FROM B ORDER BY B_DATE DESC
	</select>
	
	<!-- 게시물 올리기 셀렉트키는 게시물을 올리고 현재 올린 게시물의 번호를 넘기기위해 사용 -->
	<insert id="postUpload" parameterType="b">
		<selectKey keyProperty="b_no" resultType="String" order="AFTER">
			SELECT 'B'||B_SEQ.CURRVAL FROM DUAL
		</selectKey>
		INSERT INTO B
		VALUES('B'||B_SEQ.NEXTVAL,#{b_mbid},#{b_flno},#{b_content},DEFAULT,DEFAULT,DEFAULT)
	</insert>
	
	<!-- 게시물 올리기의 첨부파일 올리기 -->
	<insert id="fileUpload" parameterType="HashMap">
		INSERT INTO BU VALUES(#{b_no},#{sysFileName},#{oriFileName},#{path})   
	</insert> 
	
	<!-- 게시물 전체보기의 첨부파일들 가져오기 -->
	<select id="getBoardUploadList"  resultType="bu"> 
	SELECT * FROM BU
	</select>
	
	<!-- 게시물 상세보기 sql -->
	<select id="postInfo" parameterType="String" resultType="b"> 
	SELECT * FROM B WHERE B_NO=#{b_no}
	</select>
	
	<!-- 게시물 상세보기의 첨부파일보기 sql -->
	<select id="postFileInfo" parameterType="String" resultType="bu"> 
	SELECT * FROM BU WHERE BU_CODE=#{b_no}
	</select>
	
	<!-- 댓글 추가하기 -->
	<insert id="replyInsert" parameterType="r">
		INSERT INTO R VALUES(#{r_bno},#{r_no},#{r_mbid},DEFAULT,#{r_content})
	</insert>
	
	<!-- 전체 게시물의 댓글 가져오기 -->
	<select id="getReplyList" parameterType="String" resultType="r"> 
	SELECT * FROM R
	</select>
	
	<!-- 한게시물의 댓글 가져오기 -->
	<select id="getReply" parameterType="String" resultType="r"> 
	SELECT * FROM R WHERE R_BNO=#{r_bno}
	</select>
	
	<!-- 댓글번호 출력 -->
	<select id="replyNoCheck" parameterType="String" resultType="r"> 
	SELECT max(R_NO) AS R_NO FROM R WHERE R_BNO=#{b_no}
	</select>

	<!-- 파일 업로드 했는지 확인(사용 안하는중) -->
	<select id="getBoardUploadCount" parameterType="String" resultType="int"> 
	SELECT COUNT(BU_FILESYS) AS BU_FILESYS FROM BU WHERE BU_CODE=#{b_no}
	</select>
	
	<!-- 모든 회원의 아이디,비밀번호,이름,프로필사진 가져오기 -->
	<select id="getprofileList" resultType="mb"> 
	SELECT MB_ID,MB_PW,MB_NAME,MB_IMGSYSNAME FROM VIEW_MBLOGIN
	</select>
	
	<!-- 모든 회원의 아이디,비밀번호,이름,프로필사진 가져오기 -->
	<select id="getFieldList" resultType="fl"> 
	SELECT * FROM FL 
	</select>
	
	<!-- 총 좋아요수 확인  -->
	<select id="getLikesList" resultType="int"> 
	SELECT * FROM LK
	</select>
	
	
	
	
</mapper>






